
        <div class="main">
        <form action="">
            <div class="from-1">
                    Entity: Entity
                    Class: <select name="Class" id="Class" class="ip">
                        <option value="class1">class1</option>
                        <option value="class2">class2</option>
                    </select>
                    
            </div>
            <div class="form-2">
                    Prop1:<input type="text" placeholder="prop1" class="ip">
                    Prop2:<input type="text" placeholder="prop2" class="ip">
                    Prop3:<input type="text" placeholder="prop3" class="ip">
            </div>
            
            <input type="submit" class="btn" placeholder="submit" value="submit">
            
        </form>
        </div>
        
        <hr>