
	<div class="main">
            <form action="">
                <div class="from-1">
                        <input type="text" placeholder="class" class="ip">
                        <input type="text" placeholder="property" class="ip">
                </div>
                <div class="form-2">
                        <input type="text" placeholder="Unit" class="ip">
                        <input type="text" placeholder="description" class="ip">
                </div>
                
                <input type="submit" class="btn">
                
            </form>
            </div>
            
            <hr>
            
            <div class="op">
                
                              
                       <table style="width: 100%;" class="promo social_promo ">
                         <thead>
                          <tr style="background-color: #004a97; color: #fff;">
                              <th>Class</th>
                              <th> Property</th>
                              <th >Unit</th>
                              <th>Edit</th> 
                          </tr>
                          </thead>
                          
                         <tbody>
                             
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" class="btn" style=""><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          <tr>
        
                                           <td class="b"> <a href="">Test 1</a> </td>
                                           <td>Brand01 Company</td>
                                           <td> 100000 </td>
                                           <td><button type="button" style="background-color:#467826;  color: #467826; border-radius: 3px; color: white; width: 70px; height: 35px;"><a href="" style="color: white;">Edit</a></button></td>                  
                          </tr>
                          
                          
                         </tbody>
                          
                       </table>
                       
                
            </div>
            